# Images (CI/grader will set the correct images)
BLUE_IMAGE=yimikaade/wonderful:devops-stage-two
GREEN_IMAGE=yimikaade/wonderful:devops-stage-two


# Which pool is active by default: "blue" or "green"
ACTIVE_POOL=blue


# Release ids returned in X-Release-Id header
RELEASE_ID_BLUE=blue-release-001
RELEASE_ID_GREEN=green-release-001


# (optional) internal port the app listens on inside the container
PORT_BLUE=8081
PORT_GREEN=8082

APP_POOL_BLUE=blue
APP_POOL_GREEN=green

SLACK_WEBHOOK_URL=
ERROR_RATE_THRESHOLD=2
WINDOW_SIZE=20
ALERT_COOLDOWN_SEC=5
NGINX_TARGET=
